@import url("https://fonts.googleapis.com/css?family=Baloo+Da+2&display=swap");

* {
  font-family: "Baloo Da 2", cursive;
}

html,
body {
  height: 100%;

  background: repeating-linear-gradient(
    225deg,
    #aadddd 00px,
    #d6d6d6 750px,
    #d6d6d6 750px,
    #aadddd 1500px
  );
  background-attachment: fixed;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  border-radius: 5px;
  padding: 0.4rem;
  transition: all 0.1s ease-in-out;
}

.nav-item:hover {
  transform: scale(1.2);
}

.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.nav-icon {
  width: 2rem;
  height: 2rem;
}

.user-icon {
  width: 2rem;
  height: 2rem;
  border-radius: 20px;
  margin-right: 0.5rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header-bar {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.business-image {
  width: 7rem;
  height: 7rem;
  border: solid gray 1px;
  border-radius: 1rem;
  align-self: center;
  margin-bottom: 1rem !important;
}

.profile-image {
  width: 10rem;
  height: 10rem;
  border: solid gray 1px;
  border-radius: 1rem;
  align-self: center;
  margin-bottom: 1rem !important;
}

.main-container {
  height: 100%;
}

.component-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;

  padding-top: 5vh;
  padding-bottom: 8vh;
}

.entry-item {
  margin-bottom: 0.5rem;
}

.list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  width: 90vw;
  max-width: 300px;
  border: 1px solid green;
  padding: 2rem;
  margin: 1rem;
  border-radius: 2rem;
  background-color: rgb(237, 243, 237);
  transition: all 0.1s ease-in-out;

  background-color: #20bf55;
  background-image: linear-gradient(45deg, #f0f8f3 0%, #f4f7f8 74%);

  box-shadow: 5px 5px 10px 3px #979797;
}

.applicant-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  border: 1px solid rgb(155, 155, 155);
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(203, 231, 197);
  transition: all 0.1s ease-in-out;
}

.applicant-list-item:hover {
  transform: scale(1.03);
}

.list-item:hover {
  transform: scale(1.03);
}

.intro-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 90vw;
  max-width: 300px;
  border: 1px solid green;
  padding: 2rem;
  margin: 1rem;
  border-radius: 2rem;
  background-color: rgb(237, 243, 237);

  background-color: #20bf55;
  background-image: linear-gradient(45deg, #f0f8f3 0%, #f4f7f8 74%);

  box-shadow: 5px 5px 10px 3px #979797;
}

.sublist-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 98%;
  border: 1px solid rgb(155, 155, 155);
  padding: 0.2rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(203, 231, 197);
}

.unit-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  width: 90vw;
  max-width: 300px;
  border: 1px solid green;
  padding: 2rem;
  margin: 1rem;
  border-radius: 2rem;
  background-color: rgb(237, 243, 237);

  background-color: #20bf55;
  background-image: linear-gradient(45deg, #f0f8f3 0%, #f4f7f8 74%);

  box-shadow: 5px 5px 10px 3px #979797;
}

/* Intro page title <h1> */
.page-title {
}

/* Intro page description (<p>) */
.page-description {
  font-size: larger;
  text-align: left;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  height: 40px;
  width: 100%;
  color: white;
  text-align: center;
  z-index: 1;

  background-color: #20bf55;
  background-image: linear-gradient(45deg, #20bf55 0%, #01baef 74%);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: green;
  color: white;
  text-align: center;

  background-color: #20bf55;
  background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
}

.unit-input {
  cursor: text;
  font-size: larger;
  padding: 1rem;
  resize: none;
  justify-self: center;
  align-self: center;
  border: 1px solid rgb(155, 155, 155);
  padding: 0.2rem;
  outline: none;
  padding: 0.2rem 1rem 0.2rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255);
  transition: all 0.1s ease-in-out;
}

.unit-input:hover {
  transform: scale(1.05);
}

.unit-button {
  cursor: pointer;
  font-size: larger;
  justify-self: center;
  align-self: center;
  border: 1px solid rgb(155, 155, 155);
  padding: 0.2rem;
  outline: none;
  padding: 0.2rem 1rem 0.2rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255);
  transition: all 0.1s ease-in-out;
}

.unit-button:hover {
  transform: scale(1.05);
}

.action-button {
  text-decoration: none;
  color: white;
  cursor: pointer;
  padding: 0.2rem 1rem 0.2rem 1rem;
  border-radius: 0.5rem;
  background-color: rgb(89, 197, 125);
  opacity: 90%;
  transition: all 0.1s ease-in-out;
}

.action-button:hover {
  transform: scale(1.03);
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clickable-item {
  color: inherit;
  text-decoration: inherit;
}
